body{
		margin: 0;
		height: 100%;
		background-image:  url("homebg1.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position:  center;
		
	}
	
	#header{
		padding: 0;
		background-color: lavender;
	
	}
	
	#logo{
		float: left;
		margin-left: 8px;
		margin-right: 8px;
		margin-top: 3px;
		
	}
	
	#header-name{
		font-size: 35px;
		margin: 0;
		color: purple;
		font-family: Lucida Console;
	
	}
	
	search input[type=text]{
		background-color: rgb(255, 124, 233)
		color: black;
		border: 2px solid black;
		font-size: 18px;
		font-family: Helvetica Now;
		text-align: center;
		margin-left: 30px;
		text-shadow: 0px 1px 2px black;
		width: 200px;
	}
	
	.topnav{
		background-color: #D341EA;
		overflow: hidden;
	}
		
	.topnav a:link{
		float: right;
		color: #700b8a;
		text-align: center;
		padding:  14px 16px;
		text-decoration: none;
		font-size: 17px;
	}
		
	.topnav a:visited{
		background-color: pink;
		color: black;
	}
		
	.topnav a:hover{
		background-color: magenta;
		color: white;	
	}
		
	.topnav a.active{
		background-color: magenta;
		color: brown;
	}
	
	h1{
        text-align: center;
    }
	
	.description{
		text-align: center;
	}
	
	div.polaroid{
		display: inline-block;
		margin-top: 25px;
		margin-left: 50px;
		width: 20%;
		background-color: rose gold;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-top: 25px;
		border-radius: 10%;
		border: 4px solid black;
	}
		
	div.container{
		text-align: center;
		padding: 10px 20px;
	}
		
	.text-container{
		position: relative;
		display: inline-block;
	}
		
	.clickable-text{
		cursor: pointer;
	}
		
	.additional-info{
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 300px;
		padding: 10px;
		background-color: magenta;
		border: 2px solid black;
		border-radius: 10%;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}
		
	.clickable-text:hover + .additiional-info{ 
		display: block;
	}
		
	.image{
		border-radius: 10%;
	}

	footer {
		background-color: lavender;
		color: purple;
		padding: 10px;
		text-align: center;
		position: fixed;
		bottom: 0;
		width: 100%;
	}